<table>
	<tr>
		<th>Name</th>
		<th><nobr>Access Rank</nobr></th>
	</tr>
	<% User.all.each do |u| %>
		<tr>
			<td><%= link_to u.name, :action => "show", :controller => "users", :id => u.id %></td>
			<td class="thin"><%= u.rank.title %></td>
			<% if signed_in? 
				if admin? %>
				<td class="thin"><%= link_to "^", { :controller => "users", :action => "promote", :id => u.id }, :class => "button", :title => "Promote" %></td>
				<td class="thin"><%= link_to "v", { :controller => "users", :action => "demote", :id => u.id }, :class => "button", :title => "Promote" %></td>
			<% end
			end %>
		</tr>
	<% end %>
</table>