<% if @user.rank.clearance == 0 %>
	<h2>IMPORTANT!</h2>
	<h4>Your access rank is "Registered" - an admin has been notified and will promote you appropriately.</h4>
	<h4>You may view the <%= link_to "public forums", divisions_path %> until then.</h4>
<% end %>

<%= render 'user_info' %>
<%= render 'user_availabilities' %>
