<ul>
	<li>Access Rank: <%= @user.rank.title %></li>
</ul>
<% if signed_in? && @user.id == current_user.id %>
	<%= link_to "Edit My Details", :action => "edit", :controller => "users", :id => params[:id] %>
<% end %>