<%= link_to "Forums", divisions_path %>
<%= link_to "Edit", edit_division_path(@division.id)%>
<%= link_to "Destroy", @division, :method => :delete,
							  	  :confirm => "Divisions and all child forums will be permanently and irrecoverably destroyed!  Are you sure?",
							  	  :title => "Delete #{@division.title}" %>
<p><%= @division.forums.count %> forums detected!</p>
