Ruin_Rails is a gaming community communication portal project designed by <a href="http://mann-alive.net">David Mann</a> using <a href="http://rubyonrails.org/">Ruby on Rails</a>.  More information will eventually be available on Github.
