$ClrGre1:#111111;
$ClrGre2:#1a1a1a;
$ClrGre3:#4d4d4d;
$ClrGre4:#878787;
$ClrGre5:#bababa;
$ClrGre6:#e0e0e0;
$ClrWhi: #ffffff;
$ClrRed5:#fddbc7;
$ClrRed4:#f4a582;
$ClrRed3:#d6604d;
$ClrRed2:#b2182b;
$ClrRed1:#67001f;
$ClrBlu1:#4575b4;
$ClrBlu2:#74add1;
$ClrBlu3:#abd9e9;
$ClrBlu4:#e0f3f8;

$ClrTextGrey:$ClrGre5;
$ClrTextRed:$ClrRed2;
$ClrLinkBlu:$ClrBlu1;
$ClrLinkAltBlu:$ClrBlu3;
$ClrHeader:$ClrRed2;
$ClrHeaderHighlight:$ClrRed3;
$ClrHeaderShadow:$ClrRed1;


#scheme-0 {background:$ClrGre1;}
#scheme-1 {background:$ClrGre2;}
#scheme-2 {background:$ClrGre3;}
#scheme-3 {background:$ClrGre4;}
#scheme-4 {background:$ClrGre5;}
#scheme-5 {background:$ClrGre6;}
#scheme-6 {background:$ClrWhi;}
#scheme-7 {background:$ClrRed5;}
#scheme-8 {background:$ClrRed4;}
#scheme-9 {background:$ClrRed3;}
#scheme-10{background:$ClrRed2;}
#scheme-11{background:$ClrRed1;}
#scheme-12{background:$ClrBlu1;}
#scheme-13{background:$ClrBlu2;}
#scheme-14{background:$ClrBlu3;}
#scheme-15{background:$ClrBlu4;}