$ClrGre1:#111111;
$ClrGre2:#1a1a1a;
$ClrGre3:#4d4d4d;
$ClrGre4:#878787;
$ClrGre5:#bababa;
$ClrGre6:#e0e0e0;
$ClrWhi: #ffffff;
$ClrRed5:#fddbc7;
$ClrRed4:#f4a582;
$ClrRed3:#d6604d;
$ClrRed2:#b2182b;
$ClrRed1:#67001f;
$ClrBlu1:#4575b4;
$ClrBlu2:#74add1;
$ClrBlu3:#abd9e9;
$ClrBlu4:#e0f3f8;

$ClrTextGrey:$ClrGre5;
$ClrTextRed:$ClrRed2;
$ClrLinkBlu:$ClrBlu1;
$ClrLinkAltBlu:$ClrBlu3;
$ClrHeader:$ClrRed2;
$ClrHeaderHighlight:$ClrRed3;
$ClrHeaderShadow:$ClrRed1;