@mixin round($radius: 5px)
  -moz-border-radius:    $radius
  -webkit-border-radius: $radius
  border-radius:         $radius
  
@mixin cool_link
  background: $link_alt
  padding: 5px
  margin: 5px
  @include round
  &:hover
    background: $link
    color: $link_alt
    
@mixin hot_link
  color: $red_2
  background: $gre_2
  border: 1px solid $gre_2
  padding: 0px
  padding-left: 15px
  padding-right: 15px
  margin: 2px
  font-style: 1.3em
  @include round(20px)
  &:hover
    color: $gre_2
    background: $red_2
    
@mixin button
  background: $gre_1
  padding-top: 2px
  padding-bottom: 2px
  padding-left: 7px
  padding-right: 7px
  @include round(200px)
  &:hover
    background: $link
    color: $link_alt

tbody tr.even td
  background: black

body
  background: $gre_1
  
.container
  width: auto
  margin: 20px

header
  border-top: solid 3px $clr_3
  background: $clr_2
  border-bottom: solid 3px $clr_1
  margin-top: 10px
  h1
    display: inline
  a#logo
    color: $gre_2
  table
    margin: 0px
    td#logo
      width: 25%
    td#site
      text-align: center
      a
        @include hot_link
    td#account
      text-align: right
      width: 25%
      a
        @include cool_link

#emblem
  display: block
  margin-left: auto
  margin-right: auto
      
section
  border-width: 4px
  border-color: $gre_2
  border-style: groove hidden groove hidden
  
  padding-left: 3px
  padding-right: 3px
  padding-bottom: 20px
  margin-top: 10px
  @include round(30px)
  h1
    margin: 5px
    margin-right: 15px
    
#unpublished
  margin: 5px
  background: $red_2
  color: $whi
  text-align: center
  
.list
  border: solid 3px $gre_2
  margin-bottom: 20px
  padding-bottom: 10px
  .title
    display: inline-block
    background: $gre_2
    padding: 10px
    font-size: 2em
  tr    
    @include round
    border: 1px solid green
    padding: 2px
    margin-top: 5px
    margin-bottom: 5px
    td
      padding: 0px
      a
        @include round(10px)
        display: block
        font-size: 1.5em
        padding: 5px
        &:hover
          background: $link
          color: $link_alt
      div.content a
        float: right
  .time
    @include round
    padding: 2px
    padding-left: 10px
    padding-right: 10px
    float: right
    color: $gre_3
  .content
    padding: 10px
    
          
      
.add_list
  @include cool_link
.add_item
  @include cool_link
  
.thin
  width: 10px
  
.up
  @include button
.destroy
  @include button
.edit
  @include button
  
footer
  padding: 20px
  text-align: center
  border-bottom: 4px groove $gre_2
  @include round(30px)
  
