@mixin round($radius: 5px)
  -moz-border-radius:    $radius
  -webkit-border-radius: $radius
  border-radius:         $radius
  
  
@mixin cool_link
  background: $link_alt
  padding: 5px
  @include round
  &:hover
    background: $link
    color: $link_alt
    
@mixin button
  background: black
  padding-top: 2px
  padding-bottom: 2px
  padding-left: 7px
  padding-right: 7px
  @include round(200px)
  &:hover
    background: $link
    color: $link_alt

@mixin tainer
  padding: 15px
  margin-top: 15px
  margin-bottom: 15px
  border: solid 2px $gre_2

tbody tr.even td
  background: black

body
  background: $gre_1
  
.container
  width: auto
  margin: 20px

header
  border-top: solid 3px $clr_3
  background: $clr_2
  border-bottom: solid 3px $clr_1
    
  margin-top: 10px
  padding: 7px
  h1
    text-align: left
    display: inline
  a#logo
    color: $gre_2
  nav
    float: right
    ul
      margin: 10px      
      li
        display: inline
    a
      @include cool_link
      @include round
      margin: 5px
      
section
  border-width: 4px
  border-color: $gre_2
  border-style: groove hidden groove hidden
  
  padding-left: 3px
  padding-right: 3px
  padding-bottom: 20px
  margin-top: 10px
  @include round(30px)
  
.division_list
  @include tainer

.forum_list
  @include tainer
  
.topic_list
  @include tainer
  
.division_item

.forum_item
  font-size: 1.5em
  
.topic_item
  
.tainer_title
  @include round(15px)
  background: $gre_2
  float: left
  padding: 10px
  font-size: 2em

.add_tainer
  @include cool_link
  margin-top: 200px
.add_item
  @include cool_link
  
.thin
  width: 10px
  
.up
  @include button
.destroy
  @include button
.edit
  @include button
  
div.division
  border: 2px solid $gre_2
  @include round
  
footer
  padding: 20px
  text-align: center
  border-bottom: 4px groove $gre_2
  @include round(30px)
  
