@mixin round($radius: 5px)
  -moz-border-radius:    $radius
  -webkit-border-radius: $radius
  border-radius:         $radius
  
  
@mixin cool_link
  background: $link_alt
  padding: 5px
  @include round
  &:hover
    background: $link
    color: $link_alt

body
  background: $gre_1
  
.container
  width: auto
  margin: 20px

header
  border-top: solid 3px $clr_3
  background: $clr_2
  border-bottom: solid 3px $clr_1
    
  margin-top: 10px
  padding: 7px
  h1
    text-align: left
    display: inline
  a#logo
    color: $gre_2
  nav
    float: right
    ul
      margin: 10px      
      li
        display: inline
    a
      @include cool_link
      @include round
      margin: 5px
      
section
  border-width: 4px
  border-color: $gre_2
  border-style: groove hidden groove hidden
  
  padding-left: 3px
  padding-right: 3px
  padding-bottom: 20px
  margin-top: 10px
  @include round(30px)

.division
  span#control a
    @include cool_link

.thin
  width: 10px
  text-align: center
  
div.division
  border: 2px solid $gre_2
  @include round
  
#control
  float: right
  
footer
  padding: 20px
  text-align: center
  border-bottom: 4px groove $gre_2
  @include round(30px)
  
