#scheme-0  {background:$gre_1;}
#scheme-1  {background:$gre_2;}
#scheme-2  {background:$gre_3;}
#scheme-3  {background:$gre_4;}
#scheme-4  {background:$gre_5;}
#scheme-5  {background:$gre_6;}
#scheme-6  {background:$whi;}
#scheme-7  {background:$red_5;}
#scheme-8  {background:$red_4;}
#scheme-9  {background:$red_3;}
#scheme-10 {background:$red_2;}
#scheme-11 {background:$red_1;}
#scheme-12 {background:$blu_1;}
#scheme-13 {background:$blu_2;}
#scheme-14 {background:$blu_3;}
#scheme-15 {background:$blu_4;}