body {
  font-family:'Open Sans', sans-serif;
  color:$text
}
h1 {
  text-align:right;
  font-family:'Atomic Age', sans-serif;
  font-size:3em;
  color:$title;
}
h2 {
  text-align:center;
  font-family:'Contrail One', sans-serif;
  color:$title;
  margin:10px;
}
h3 {
  font-family:'Contrail One', sans-serif;
  color:$title;
}
h6 {
  text-align:center;
  color:$gre_4;
}
a {
  color:$link;
    text-decoration: none;
    &:hover{
       text-decoration: underline;
       color:$link;
    }
    &:visited{
      text-decoration: none;
      color:$link;
    }
}
p {
  font-size:1.1em;
}
