<h1>Listing availabilities</h1>

<table>
  <tr>
    <th>User</th>
    <th>Begin</th>
    <th>End</th>
  </tr>

<% @availabilities.each do |availability| %>
  <tr>
    <td><%= link_to availability.user.name, user_path(availability.user) %></td>
    <td><%= availability.begin.strftime('%A %l:%M %p') %></td>
    <td><%= availability.end.strftime('%A %l:%M %p') %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Availability', new_availability_path %>
